@media (min-width:980px) {
  body {
    padding-top: 60px;
  }
}
body {
    margin-bottom: 30px;
  }
.canvas-container { margin: 0 auto; float: left; border: 1px solid #aaa; }
.menu {
  margin-bottom: 20px;
}
.menu img {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid white;
}
.menu img:hover{
  border: 1px solid green;
}
.thumb {
  height: 70px;
}


/* User changes */

h3 {
  color: #f53;
}
#color-picker label {
  text-align: right;
}
.btn {
  margin-right: 5px;
}
.canvas-control {
  margin: 0 auto;
}
.fabric-body {
  margin-top: 20px;
}
.hidden {
  display: none;
}
.rh-scroll-height-fixed {
  height: 400px;
}
.rh-normalize-preset-size img {
  width: 100px;
  height: 100px;
}
.rh-overlay-tools {
  margin-right: 10px 0 0;
}